{% extends 'serials/base.html' %}
{% load static %}

{% block title %}

Online seriály zdarma

{% endblock %}

{% block content %}

<div class="container background-orange-base" style="background-color:transparent;">

<div id="carouselExampleCaptions" class="carousel slide top-slider" data-bs-ride="carousel">
  <ol class="carousel-indicators">
  {% for serial in toppost %}
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% endif %}"></li>
  {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for serial in toppost %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
	<a href="{% url 'serial' name=serial.serial.title_cz %}">
      <img src="../../static/media/{{serial.serial.image}}" class="d-block w-100" alt="{{serial.serial.title_cz}}">
	  <div class="carousel-caption d-none d-md-block" style="background-color:rgba(0,0,0,0.5)">
        <h5>{{serial.serial.title_cz}}</h5>
        <p>{{serial.serial.popis | truncatechars:100 }}</p>
      </div>
	  </a>
    </div>
	{% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Předchozí</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Další</span>
  </a>
</div>
</div>
<div class="container">


	{% for serial in serials %}
	<a href="{%  url 'serial' name=serial.title_cz %}" style="margin:0;">
	<div class="row-fluid my-serials">
		
		<div class="col-5-sm">
		<img class="img-responsive" src="/static/media/{{serial.image}}">
		</div>
		<div class="col-7-sm my-serials-text">
			
			<h2>{{serial.title_cz}}</h2> 
			<h3>{{serial.title_en}}</h3>
{{serial.delka}} MIN | {{serial.start_yr}} - {{serial.end_yr}}
			<p>
			{{serial.popis|truncatechars:147}}
			</p>
			
		</div>
		
	</div>
	</a>
	{% endfor %}
</div>

{% endblock %}
